<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2>Update Admin</h2>
          <%= form_for @admin, url: admin_path do |f| %>

            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name,class: "form-control" %>
            </div><br/>

            <div class="actions">
              <%= f.button "Update".html_safe, type: :submit, class: "btn btn-lg btn-primary btn-block",
              data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
            </div><br/>
          <% end %>
          <%= link_to 'Back', admins_path %>
        </div>
      </div>
    </div>
  </div>
</div>