<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2>Update System</h2>
          <%= form_for @system, url: admin_system_path do |f| %>

            <div class="row">
              <div class="col">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col">
              <%= f.label :user_listing %>
              <%=  f.select :user_id, options_for_select(@users_array, f.object.user_id), { :include_blank => "Please select User"}, {:class => "form-control"} %>
              </div>
            </div><br/>

            <div class="row">
              <div class="col">
                <%= f.label :purchase_date %>
                <div class="input-group date" data-target-input="nearest">
                  <%= f.text_field :purchase_date, class: "form-control datetimepicker-input" %>
                  <div class="input-group-append" data-target="#system_purchase_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <%= f.label :warranty_month %>
                <%= f.text_field :warranty_month, class: "form-control" %>
              </div>
            </div><br/>

            <div class="field">
              <%= f.label :description %>
              <%= f.rich_text_area :description,class: "form-control" %>
            </div><br/>

            <div class="actions">
              <%= f.button "Update".html_safe, type: :submit, class: "btn btn-lg btn-primary btn-block",
              data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
            </div><br/>
          <% end %>
          <%= link_to 'Back', admin_systems_path %>
        </div>
      </div>
    </div>
  </div>
</div>