<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2> User Detail:</h2>
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9"><%= current_user.name %></dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><%= current_user.email %></dd>

            <% if current_user.birth_date %>
              <dt class="col-sm-3">Birth Date</dt>
              <dd class="col-sm-9"><%= current_user.birth_date %></dd>
            <% end %>
          
            <% if current_user.joining_date %>
              <dt class="col-sm-3">Joining Date</dt>
              <dd class="col-sm-9"><%= current_user.joining_date %></dd>
            <% end %>

            <% if !current_user.gender.nil? %>
              <dt class="col-sm-3">Gender</dt>
              <dd class="col-sm-9"><%= current_user.gender ? 'Male' : 'Female' %></dd>
            <% end %>

            <% if current_user.qualification.present? %>
              <dt class="col-sm-3">Qualification</dt>
              <dd class="col-sm-9"><%= current_user.qualification %></dd>
            <% end %>
            
            <% if current_user.mobile_number.present? %>
              <dt class="col-sm-3">Mobile Number</dt>
              <dd class="col-sm-9"><%= current_user.mobile_number %></dd>
            <% end %>

            <% if current_user.parent_name %>
              <dt class="col-sm-3">Parent Name</dt>
              <dd class="col-sm-9"><%= current_user.parent_name %></dd>
            <% end %>

            <% if current_user.parent_mobile_number.present? %>
              <dt class="col-sm-3">Parent Mobile Number</dt>
              <dd class="col-sm-9"><%= current_user.parent_mobile_number %></dd>
            <% end %>

            <% if current_user.address.present? %>
              <dt class="col-sm-3">Address</dt>
              <dd class="col-sm-9"><%= current_user.address %></dd>
            <% end %>

            <% if current_user.native_address.present? %>
            <dt class="col-sm-3">Native Address</dt>
            <dd class="col-sm-9"><%= current_user.native_address %></dd>
          <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>