<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2>Create Leave Application</h2>
          <%= form_for @leave_application, url: leave_applications_path do |form| %>
            <% if @leave_application.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  The form contains <%= pluralize(@leave_application.errors.count, "error") %>.
                </div>
                <ul>
                <% @leave_application.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col">
                <%= form.label :from_date %>
                <div class="input-group date" data-target-input="nearest">
                  <%= form.text_field :from_date, class: "form-control datetimepicker-input" %>
                  <div class="input-group-append" data-target="#leave_application_from_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <%= form.label :to_date %>
                <div class="input-group date" data-target-input="nearest">
                  <%= form.text_field :to_date, class: "form-control datetimepicker-input" %>
                  <div class="input-group-append" data-target="#leave_application_to_date" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div><br/>
            <div class="field">
              <%= form.label :half_day %>
              <%= form.check_box :half_day, id: "checkbox" %>
            </div>
            <div id="half_day_div" class="<%= @leave_application.half_day ? 'd-block d-none' : 'd-none' %>">
              <div class="row" >
                <div class="col">
                  <%= form.label :from_time %>
                  <div class="input-group date" data-target-input="nearest">
                    <%= form.text_field :from_time, class: "form-control timepicker-input" %>
                    <div class="input-group-append" data-target="#leave_application_from_time" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <%= form.label :to_time %>
                  <div class="input-group date" data-target-input="nearest">
                    <%= form.text_field :to_time, class: "form-control timepicker-input" %>
                    <div class="input-group-append" data-target="#leave_application_to_time" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div><br/>
            <div class="field">
              <%= form.label :subject %>
              <%= form.text_field :subject,class: "form-control" %>
            </div><br/>
            <div class="field">
              <%= form.label :description %>
              <%= form.rich_text_area :description,class: "form-control" %>
            </div><br/>
            <div class="actions">
              <%= form.button "Create Leave".html_safe, type: :submit, class: "btn btn-lg btn-primary btn-block",data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>   
            </div>
          <% end %><br/>
          <%= link_to 'Back', leave_applications_path %>
        </div>
      </div>
    </div>
  </div>
</div>