<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2>New User</h2>
          <%= form_for @user, url: admin_users_path do |f| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  The form contains <%= pluralize(@user.errors.count, "error") %>.
                </div>
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %><br />
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password",class: "form-control"%><br />
            </div>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, class: "form-control", required: true %><br />
            </div>

            <div class="actions">
              <%= f.button "Create User".html_safe, type: :submit, class: "btn btn-lg btn-primary btn-block",data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>   
            </div></br/>
            <%= link_to 'Back', admin_users_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>