<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h2>New Notification</h2>
          <%= form_for @notification, url: admin_notices_path do |f| %>

            <% if @notification.errors.any? %>
              <div id="error_explanation">
                <div class="alert alert-danger">
                  The form contains <%= pluralize(@notification.errors.count, "error") %>.
                </div>
                <ul>
                <% @notification.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title, class: "form-control" %><br />
            </div>

            <%= f.hidden_field :admin_id, value: current_admin.id, class: "form-control" %><br />

            <div class="field">
              <%= f.label :description %><br>
              <%= f.rich_text_area :description, class: "form-control" %><br/>
            </div>

            <div class="actions">
              <%= f.button "Create Notification".html_safe, type: :submit, class: "btn btn-lg btn-primary btn-block", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %> 
            </div><br />
            <%= link_to 'Back', admin_notifications_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
